<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Laborator4">
        <!-- Laborator 7 - Cerinta 4: Activitate de setari pentru dimensiunea si culoarea textelor (salvate in SharedPreferences) -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />
        <!-- Laborator 4 - Cerinta 3: Activitate pentru introducerea si editarea datelor unui Market -->
        <activity
            android:name=".AddMarketActivity"
            android:exported="false" />
        <!-- Laborator 4 - Cerinta 1: MainActivity setata ca activitate implicita (LAUNCHER) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>